[user]
	email = guidanoli@proton.me
	name = Guilherme Dantas
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[alias]
	smu = submodule update --init --recursive
	adog = log --all --decorate --oneline --graph
	rbias = rebase -i --autosquash
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
    path = nvim
[init]
	defaultBranch = main
